
.button {
  width: 100%;
  display: flex;
  align-items: baseline;

  margin-top: 10px;
  border-radius: 4px;
  padding: 7px;
}
.button_exp {
  width: 100%;
  display: flex;
  align-items: baseline;
  border: 2px solid cadetblue;
  margin-top: 10px;
  background-color: cadetblue;
  border-radius: 4px 4px 0 0;
}

.green {
   border: 2px solid #49cc90;
   background-color: #E7F5F0;
}

.blue {
   border: 2px solid #61affe;
   background-color: #ECF3FA;
}

.red {
  border: 2px solid #f93e3e;
  background-color: #F9E8E9;
}
.orange{
  border: 2px solid #F9A131;
  background-color: #FAF1E9;
}
.container {
  border-radius: 0 0 4px 4px;
  border-top: none;
}